In [1]:
import pandas as pd
import geopandas as gpd
import re
import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
month = "May"
year = 2021

# Reading In Rental List - Magnum and R&R

In [3]:
#R&R and Magnum Rental List
RRList = pd.read_excel("BLM Rents {} {}.xlsx".format(month, year), header = 4, usecols = 8)
MPLPList = pd.read_excel("BLM Rents {} {}.xlsx".format(month, year), header = 4, usecols = 8, sheet_name = "MPLP")

/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:527: FutureWarning: Passing in an integer for `usecols` has been deprecated. Please pass in a list of int from 0 to `usecols` inclusive instead.
  usecols = _maybe_convert_usecols(usecols)

In [4]:
#Reading Mastr shapefile
shapefile = gpd.read_file("zip://BLM Master 3-2021.zip")
shapefile.columns

Index(['lot_no', 'LEASE_NO', 'EFFECTIVE', 'COUNTY', 'ST', 'Ownership',
       'GeneralLoc', 'Due_Year', 'Acres', 'COMMENTS', 'Est_Bonus', 'Exp_date',
       'Comments_1', 'Shape_Leng', 'Shape_Area', 'geometry'],
      dtype='object')

In [6]:
RRList
MPLPList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N
0,ALES57286,COVINGTON,ALABAMA,2022-05-01,320.00,4.000000,640.0,NaN,NaN
1,ALES57297,COVINGTON,ALABAMA,2022-05-01,1807.54,26.000000,3616.0,NaN,NaN
2,ALES57298,COVINGTON,ALABAMA,2022-05-01,1805.85,24.000000,3612.0,NaN,NaN
3,ALES57299,COVINGTON,ALABAMA,2022-05-01,1678.20,4.000000,3358.0,NaN,NaN
4,ALES57302,COVINGTON,ALABAMA,2022-05-01,90.54,5.000000,182.0,11408.0,NaN
5,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
6,ALES57285,ESCAMBIA,ALABAMA,2022-05-01,1664.60,54.000000,3330.0,NaN,NaN
7,ALES57301,ESCAMBIA,ALABAMA,2022-05-01,80.00,68.000000,160.0,NaN,NaN
8,ALES57887,ESCAMBIA,ALABAMA,2024-05-01,80.00,4003.000000,160.0,3650.0,NaN
9,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
10,ARES57890,VAN BUREN,ARKANSAS,2024-05-01,145.00,12.000000,290.0,NaN,NaN
11,ARES57893,VAN BUREN,ARKANSAS,2024-05-01,170.00,7.000000,340.0,NaN,NaN
12,ARES57894,VAN BUREN,ARKANSAS,2024-05-01,200.00,12.000000,400.0,NaN,NaN
13,ARES57895,VAN BUREN,ARKANSAS,2024-05-01,145.00,5.000000,290.0,1320.0,NaN
14,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
15,LAES57898,CADDO,LOUISIANA,2024-05-01,409.22,16.919315,820.0,820.0,NaN
16,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
17,LAES57336,NATCHITOCHES,LOUISIANA,2022-05-01,2274.10,14.000000,4550.0,NaN,NaN
18,LAES57337,NATCHITOCHES,LOUISIANA,2022-05-01,1296.61,22.000000,2594.0,NaN,NaN
19,LAES57338,NATCHITOCHES,LOUISIANA,2022-05-01,2147.51,14.000000,4296.0,NaN,NaN
20,LAES57339,NATCHITOCHES,LOUISIANA,2022-05-01,37.15,18.000000,76.0,NaN,NaN
21,LAES57340,NATCHITOCHES,LOUISIANA,2022-05-01,2071.26,14.000000,4144.0,NaN,NaN
22,LAES57341,NATCHITOCHES,LOUISIANA,2022-05-01,1707.98,14.000000,3416.0,NaN,NaN
23,LAES57342,NATCHITOCHES,LOUISIANA,2022-05-01,1993.05,14.000000,3988.0,NaN,NaN
24,LAES57343,NATCHITOCHES,LOUISIANA,2022-05-01,1835.46,14.000000,3672.0,NaN,NaN
25,LAES57344,NATCHITOCHES,LOUISIANA,2022-05-01,2046.04,14.000000,4094.0,NaN,NaN
26,LAES57345,NATCHITOCHES,LOUISIANA,2022-05-01,2034.40,57.000000,4070.0,NaN,NaN
27,LAES57346,NATCHITOCHES,LOUISIANA,2022-05-01,1986.42,14.000000,3974.0,NaN,NaN
28,LAES57347,NATCHITOCHES,LOUISIANA,2022-05-01,1829.57,14.000000,3660.0,NaN,NaN
29,LAES57348,NATCHITOCHES,LOUISIANA,2022-05-01,1912.80,52.000000,3826.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
45,MSES59540,AMITE,MISSISSIPPI,2030-05-01,59.94,22.000000,90.0,90.0,NaN
46,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
47,MSES57372,FRANKLIN,MISSISSIPPI,2022-05-01,1479.50,152.000000,2960.0,NaN,NaN
48,MSES57386,FRANKLIN,MISSISSIPPI,2022-05-01,337.31,4.000000,676.0,NaN,NaN
49,MSES57371,FRANKLIN,MISSISSIPPI,2022-05-01,1084.79,4.000000,2170.0,NaN,NaN
50,MSES57368,FRANKLIN,MISSISSIPPI,2022-05-01,1478.63,6.000000,2958.0,NaN,NaN
51,MSES57369,FRANKLIN,MISSISSIPPI,2022-05-01,1884.59,18.000000,3770.0,NaN,NaN
52,MSES57370,FRANKLIN,MISSISSIPPI,2022-05-01,1829.75,18.000000,3660.0,NaN,NaN
53,MSES57373,FRANKLIN,MISSISSIPPI,2022-05-01,80.00,628.000000,160.0,NaN,NaN
54,MSES57385,FRANKLIN,MISSISSIPPI,2022-05-01,156.52,4.000000,314.0,NaN,NaN
55,MSES59541,FRANKLIN,MISSISSIPPI,2030-05-01,35.15,282.000000,54.0,16722.0,NaN
56,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
57,MSES57357,SCOTT,MISSISSIPPI,2022-05-01,482.28,67.000000,966.0,NaN,NaN
58,MSES57358,SCOTT,MISSISSIPPI,2022-05-01,151.75,117.000000,304.0,1270.0,NaN
59,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
60,MSES57356,SMITH,MISSISSIPPI,2022-05-01,40.00,7.000000,80.0,NaN,NaN
61,MSES59539,SMITH,MISSISSIPPI,2030-05-01,226.85,7.000000,340.5,420.5,NaN
62,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
63,MSES57359,WAYNE,MISSISSIPPI,2022-05-01,1998.92,10.000000,3998.0,NaN,NaN
64,MSES57360,WAYNE,MISSISSIPPI,2022-05-01,39.81,7.000000,80.0,NaN,NaN
65,MSES57361,WAYNE,MISSISSIPPI,2022-05-01,2107.78,4.000000,4216.0,NaN,NaN
66,MSES57362,WAYNE,MISSISSIPPI,2022-05-01,1925.70,10.000000,3852.0,NaN,NaN
67,MSES57363,WAYNE,MISSISSIPPI,2022-05-01,1833.65,4.000000,3668.0,NaN,NaN
68,MSES57364,WAYNE,MISSISSIPPI,2022-05-01,1803.88,30.000000,3608.0,NaN,NaN
69,MSES57365,WAYNE,MISSISSIPPI,2022-05-01,200.31,4.000000,402.0,NaN,NaN
70,MSES57366,WAYNE,MISSISSIPPI,2022-05-01,1669.63,16.000000,3340.0,23164.0,NaN
71,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
72,NMNM140301,CHAVES,NEW MEXICO,2030-05-01,161.28,5.000000,243.0,NaN,NaN
73,NMNM140302,CHAVES,NEW MEXICO,2030-05-01,160.00,5.000000,240.0,483.0,NaN
74,NaN,NaN,NaN,NaT,NaN,NaN,144211.5,144211.5,NaN

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N
0,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,NVN95160,EUREKA,NEVADA,2027-05-01,1378.53,4.0,2068.5,NaN,NaN
2,NVN95161,EUREKA,NEVADA,2027-05-01,1443.39,4.0,2166.0,4234.5,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,OHES059251,MONROE,OHIO,2028-05-01,39.65,8.0,60.0,NaN,NaN
5,OHES059252,NOBLE,OHIO,2028-05-01,305.84,5.0,459.0,519.0,NaN
6,NaN,NaN,NaN,NaT,NaN,NaN,4753.5,4753.5,NaN

## Concatenating Magnum and RR Into 1 Dataframe
### Cleaning Dataframe by removing null rows, subtotal rows, etc

In [7]:
#concat magnum and r&r rental list
RentalList = pd.concat([RRList, MPLPList])

In [8]:
#dropping rows with null values for lease number and county
RentalList.dropna(subset = ["LEASE NO.", "COUNTY"], how = 'all', inplace = True)

#resetting index
RentalList.reset_index(inplace = True, drop = True)

RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N
0,ALES57286,COVINGTON,ALABAMA,2022-05-01,320.00,4.000000,640.0,NaN,NaN
1,ALES57297,COVINGTON,ALABAMA,2022-05-01,1807.54,26.000000,3616.0,NaN,NaN
2,ALES57298,COVINGTON,ALABAMA,2022-05-01,1805.85,24.000000,3612.0,NaN,NaN
3,ALES57299,COVINGTON,ALABAMA,2022-05-01,1678.20,4.000000,3358.0,NaN,NaN
4,ALES57302,COVINGTON,ALABAMA,2022-05-01,90.54,5.000000,182.0,11408.0,NaN
5,ALES57285,ESCAMBIA,ALABAMA,2022-05-01,1664.60,54.000000,3330.0,NaN,NaN
6,ALES57301,ESCAMBIA,ALABAMA,2022-05-01,80.00,68.000000,160.0,NaN,NaN
7,ALES57887,ESCAMBIA,ALABAMA,2024-05-01,80.00,4003.000000,160.0,3650.0,NaN
8,ARES57890,VAN BUREN,ARKANSAS,2024-05-01,145.00,12.000000,290.0,NaN,NaN
9,ARES57893,VAN BUREN,ARKANSAS,2024-05-01,170.00,7.000000,340.0,NaN,NaN
10,ARES57894,VAN BUREN,ARKANSAS,2024-05-01,200.00,12.000000,400.0,NaN,NaN
11,ARES57895,VAN BUREN,ARKANSAS,2024-05-01,145.00,5.000000,290.0,1320.0,NaN
12,LAES57898,CADDO,LOUISIANA,2024-05-01,409.22,16.919315,820.0,820.0,NaN
13,LAES57336,NATCHITOCHES,LOUISIANA,2022-05-01,2274.10,14.000000,4550.0,NaN,NaN
14,LAES57337,NATCHITOCHES,LOUISIANA,2022-05-01,1296.61,22.000000,2594.0,NaN,NaN
15,LAES57338,NATCHITOCHES,LOUISIANA,2022-05-01,2147.51,14.000000,4296.0,NaN,NaN
16,LAES57339,NATCHITOCHES,LOUISIANA,2022-05-01,37.15,18.000000,76.0,NaN,NaN
17,LAES57340,NATCHITOCHES,LOUISIANA,2022-05-01,2071.26,14.000000,4144.0,NaN,NaN
18,LAES57341,NATCHITOCHES,LOUISIANA,2022-05-01,1707.98,14.000000,3416.0,NaN,NaN
19,LAES57342,NATCHITOCHES,LOUISIANA,2022-05-01,1993.05,14.000000,3988.0,NaN,NaN
20,LAES57343,NATCHITOCHES,LOUISIANA,2022-05-01,1835.46,14.000000,3672.0,NaN,NaN
21,LAES57344,NATCHITOCHES,LOUISIANA,2022-05-01,2046.04,14.000000,4094.0,NaN,NaN
22,LAES57345,NATCHITOCHES,LOUISIANA,2022-05-01,2034.40,57.000000,4070.0,NaN,NaN
23,LAES57346,NATCHITOCHES,LOUISIANA,2022-05-01,1986.42,14.000000,3974.0,NaN,NaN
24,LAES57347,NATCHITOCHES,LOUISIANA,2022-05-01,1829.57,14.000000,3660.0,NaN,NaN
25,LAES57348,NATCHITOCHES,LOUISIANA,2022-05-01,1912.80,52.000000,3826.0,NaN,NaN
26,LAES57349,NATCHITOCHES,LOUISIANA,2022-05-01,2013.80,52.000000,4028.0,NaN,NaN
27,LAES57350,NATCHITOCHES,LOUISIANA,2022-05-01,1911.26,14.000000,3824.0,NaN,NaN
28,LAES57351,NATCHITOCHES,LOUISIANA,2022-05-01,1846.31,14.000000,3694.0,NaN,NaN
29,LAES57352,NATCHITOCHES,LOUISIANA,2022-05-01,2007.17,14.000000,4016.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
36,LAES57904,WEBSTER PARISH,LOUISIANA,2024-05-01,1304.98,4.000000,2610.0,NaN,NaN
37,LAES57906,WEBSTER PARISH,LOUISIANA,2024-05-01,1740.00,4.000000,3480.0,10876.0,NaN
38,MSES59540,AMITE,MISSISSIPPI,2030-05-01,59.94,22.000000,90.0,90.0,NaN
39,MSES57372,FRANKLIN,MISSISSIPPI,2022-05-01,1479.50,152.000000,2960.0,NaN,NaN
40,MSES57386,FRANKLIN,MISSISSIPPI,2022-05-01,337.31,4.000000,676.0,NaN,NaN
41,MSES57371,FRANKLIN,MISSISSIPPI,2022-05-01,1084.79,4.000000,2170.0,NaN,NaN
42,MSES57368,FRANKLIN,MISSISSIPPI,2022-05-01,1478.63,6.000000,2958.0,NaN,NaN
43,MSES57369,FRANKLIN,MISSISSIPPI,2022-05-01,1884.59,18.000000,3770.0,NaN,NaN
44,MSES57370,FRANKLIN,MISSISSIPPI,2022-05-01,1829.75,18.000000,3660.0,NaN,NaN
45,MSES57373,FRANKLIN,MISSISSIPPI,2022-05-01,80.00,628.000000,160.0,NaN,NaN
46,MSES57385,FRANKLIN,MISSISSIPPI,2022-05-01,156.52,4.000000,314.0,NaN,NaN
47,MSES59541,FRANKLIN,MISSISSIPPI,2030-05-01,35.15,282.000000,54.0,16722.0,NaN
48,MSES57357,SCOTT,MISSISSIPPI,2022-05-01,482.28,67.000000,966.0,NaN,NaN
49,MSES57358,SCOTT,MISSISSIPPI,2022-05-01,151.75,117.000000,304.0,1270.0,NaN
50,MSES57356,SMITH,MISSISSIPPI,2022-05-01,40.00,7.000000,80.0,NaN,NaN
51,MSES59539,SMITH,MISSISSIPPI,2030-05-01,226.85,7.000000,340.5,420.5,NaN
52,MSES57359,WAYNE,MISSISSIPPI,2022-05-01,1998.92,10.000000,3998.0,NaN,NaN
53,MSES57360,WAYNE,MISSISSIPPI,2022-05-01,39.81,7.000000,80.0,NaN,NaN
54,MSES57361,WAYNE,MISSISSIPPI,2022-05-01,2107.78,4.000000,4216.0,NaN,NaN
55,MSES57362,WAYNE,MISSISSIPPI,2022-05-01,1925.70,10.000000,3852.0,NaN,NaN
56,MSES57363,WAYNE,MISSISSIPPI,2022-05-01,1833.65,4.000000,3668.0,NaN,NaN
57,MSES57364,WAYNE,MISSISSIPPI,2022-05-01,1803.88,30.000000,3608.0,NaN,NaN
58,MSES57365,WAYNE,MISSISSIPPI,2022-05-01,200.31,4.000000,402.0,NaN,NaN
59,MSES57366,WAYNE,MISSISSIPPI,2022-05-01,1669.63,16.000000,3340.0,23164.0,NaN
60,NMNM140301,CHAVES,NEW MEXICO,2030-05-01,161.28,5.000000,243.0,NaN,NaN
61,NMNM140302,CHAVES,NEW MEXICO,2030-05-01,160.00,5.000000,240.0,483.0,NaN
62,NVN95160,EUREKA,NEVADA,2027-05-01,1378.53,4.000000,2068.5,NaN,NaN
63,NVN95161,EUREKA,NEVADA,2027-05-01,1443.39,4.000000,2166.0,4234.5,NaN
64,OHES059251,MONROE,OHIO,2028-05-01,39.65,8.000000,60.0,NaN,NaN
65,OHES059252,NOBLE,OHIO,2028-05-01,305.84,5.000000,459.0,519.0,NaN

In [9]:
RentalList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
LEASE NO.     66 non-null object
COUNTY        66 non-null object
STATE         66 non-null object
EXPIRATION    66 non-null datetime64[ns]
ACRES         66 non-null float64
PER ACRE      66 non-null float64
RENTAL        66 non-null float64
COUNTY.1      15 non-null float64
Y/N           0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 4.7+ KB

In [10]:
#storing serial numbers found in RentalLis
SerialNumbers = RentalList.loc[:,"LEASE NO."]

SerialNumbers.dropna(inplace = True)

SerialNumbers

0      ALES57286
1      ALES57297
2      ALES57298
3      ALES57299
4      ALES57302
5      ALES57285
6      ALES57301
7      ALES57887
8      ARES57890
9      ARES57893
10     ARES57894
11     ARES57895
12     LAES57898
13     LAES57336
14     LAES57337
15     LAES57338
16     LAES57339
17     LAES57340
18     LAES57341
19     LAES57342
20     LAES57343
21     LAES57344
22     LAES57345
23     LAES57346
24     LAES57347
25     LAES57348
26     LAES57349
27     LAES57350
28     LAES57351
29     LAES57352
         ...
36     LAES57904
37     LAES57906
38     MSES59540
39     MSES57372
40     MSES57386
41     MSES57371
42     MSES57368
43     MSES57369
44     MSES57370
45     MSES57373
46     MSES57385
47     MSES59541
48     MSES57357
49     MSES57358
50     MSES57356
51     MSES59539
52     MSES57359
53     MSES57360
54     MSES57361
55     MSES57362
56     MSES57363
57     MSES57364
58     MSES57365
59     MSES57366
60    NMNM140301
61    NMNM140302
62      NVN95160
63      NVN95161
64    OHES059251
65    OHES059252
Name: LEASE NO., Length: 66, dtype: object

In [11]:
shapefile["LEASE_NO"]

0                   WY-2020-12-0588
1                   WY-2020-12-0592
2                   WY-2020-12-0595
3                   WY-2020-12-0579
4                   WY-2020-12-0432
5                   WY-2020-12-0418
6                   WY-2020-12-0413
7                   WY-2020-12-6960
8                   WY-2020-12-6868
9                   WY-2020-12-6872
10                  WY-2020-12-6816
11                  WY-2020-12-6842
12                  WY-2020-12-6786
13                  WY-2020-12-6804
14                  WY-2020-12-6807
15                  WY-2020-12-6814
16                  WY-2020-12-6815
17                  WY-2020-12-6916
18                  WY-2020-12-6883
19                  WY-2020-12-6889
20                  WY-2020-12-0817
21                  WY-2020-12-0734
22                  WY-2020-12-0738
23                  WY-2020-12-6766
24                  WY-2020-12-6768
25                  WY-2020-12-6770
26                  WY-2020-12-6773
27                  WY-2020-12-6764
28                  WY-2020-12-6765
29                        NDM101156
                   ...
1846                      MIES55147
1847                      MIES55148
1848                      VAES55172
1849                      VAES55164
1850                      VAES55174
1851                      MIES55149
1852                     TXNM119824
1853                      MIES55145
1854                     TXNM119822
1855                      MIES55144
1856                      MIES55151
1857                      MIES55143
1858                      MIES55152
1859                      MIES55153
1860                      MIES55154
1861                     MSES057011
1862                     OKNM141017
1863    ARES 059723 AR-2020-12-6022
1864    MSES 059735 MS-2020-12-0106
1865    MSES 059734 MS-2020-12-0112
1866    MSES 059726 MS-2020-12-0117
1867                UT-2020-12-0837
1868        UTU94822 (UT0320 - 023)
1869        UTU94821 (UT0320 - 022)
1870                NM-2021-01-0366
1871                NM-2021-01-0376
1872                NM-2021-01-0380
1873                NM-2021-01-0381
1874                NM-2021-01-6742
1875                NM-2021-01-0398
Name: LEASE_NO, Length: 1876, dtype: object

In [12]:
#creating version of master shapefile with serial numbers found in the rental list
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(SerialNumbers)]

In [28]:
#checking lenghts of each variable to see if matches were found
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

63

66

# IF Mismatches - Section for Cleaning Lease Numbers Text

In [29]:
SerialNumbers[~SerialNumbers.isin(RentalShapeFile["LEASE_NO"])]

38    MSES59540
47    MSES59541
51    MSES59539
Name: LEASE NO., dtype: object

In [30]:
testSerial = SerialNumbers.loc[38]

testSerial
re.findall('[\w]+', testSerial)[0]

'MSES59540'

'MSES59540'

In [31]:
#creating function to run on a pandas series to clean up mistakenly placed special chars at end of serial number on rental spreadsheet
def replaceSpecialChars(serial):
    cleanedSerial = re.findall('[\w]+', serial)[0]
    return cleanedSerial

In [32]:
CleanedSerials = SerialNumbers.apply(lambda x: replaceSpecialChars(x))

In [33]:
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(CleanedSerials)]

In [34]:
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

63

66

In [35]:
CleanedSerials[~CleanedSerials.isin(RentalShapeFile["LEASE_NO"])]

38    MSES59540
47    MSES59541
51    MSES59539
Name: LEASE NO., dtype: object

# Writing RentalShapefile to File

In [36]:
RentalShapeFile.to_file(month + str(year) + "- Rental Tracts.shp")

# Adding DI County Format for Filtering

In [37]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [38]:
#inversing dictionary
statetoInits = {v: k for k, v in states.items()}

In [39]:
#cleaning datatypes for State
RentalList.info()
RentalList["STATE"] = RentalList["STATE"].astype(str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
LEASE NO.     66 non-null object
COUNTY        66 non-null object
STATE         66 non-null object
EXPIRATION    66 non-null datetime64[ns]
ACRES         66 non-null float64
PER ACRE      66 non-null float64
RENTAL        66 non-null float64
COUNTY.1      15 non-null float64
Y/N           0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 4.7+ KB

In [40]:
#Adding Columnn with State abbreviations for each state by mapping state dictionary
RentalList["St. Initials"] = RentalList["STATE"].apply(lambda x: x.title()).map(statetoInits)

RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N,St. Initials
0,ALES57286,COVINGTON,ALABAMA,2022-05-01,320.00,4.000000,640.0,NaN,NaN,AL
1,ALES57297,COVINGTON,ALABAMA,2022-05-01,1807.54,26.000000,3616.0,NaN,NaN,AL
2,ALES57298,COVINGTON,ALABAMA,2022-05-01,1805.85,24.000000,3612.0,NaN,NaN,AL
3,ALES57299,COVINGTON,ALABAMA,2022-05-01,1678.20,4.000000,3358.0,NaN,NaN,AL
4,ALES57302,COVINGTON,ALABAMA,2022-05-01,90.54,5.000000,182.0,11408.0,NaN,AL
5,ALES57285,ESCAMBIA,ALABAMA,2022-05-01,1664.60,54.000000,3330.0,NaN,NaN,AL
6,ALES57301,ESCAMBIA,ALABAMA,2022-05-01,80.00,68.000000,160.0,NaN,NaN,AL
7,ALES57887,ESCAMBIA,ALABAMA,2024-05-01,80.00,4003.000000,160.0,3650.0,NaN,AL
8,ARES57890,VAN BUREN,ARKANSAS,2024-05-01,145.00,12.000000,290.0,NaN,NaN,AR
9,ARES57893,VAN BUREN,ARKANSAS,2024-05-01,170.00,7.000000,340.0,NaN,NaN,AR
10,ARES57894,VAN BUREN,ARKANSAS,2024-05-01,200.00,12.000000,400.0,NaN,NaN,AR
11,ARES57895,VAN BUREN,ARKANSAS,2024-05-01,145.00,5.000000,290.0,1320.0,NaN,AR
12,LAES57898,CADDO,LOUISIANA,2024-05-01,409.22,16.919315,820.0,820.0,NaN,LA
13,LAES57336,NATCHITOCHES,LOUISIANA,2022-05-01,2274.10,14.000000,4550.0,NaN,NaN,LA
14,LAES57337,NATCHITOCHES,LOUISIANA,2022-05-01,1296.61,22.000000,2594.0,NaN,NaN,LA
15,LAES57338,NATCHITOCHES,LOUISIANA,2022-05-01,2147.51,14.000000,4296.0,NaN,NaN,LA
16,LAES57339,NATCHITOCHES,LOUISIANA,2022-05-01,37.15,18.000000,76.0,NaN,NaN,LA
17,LAES57340,NATCHITOCHES,LOUISIANA,2022-05-01,2071.26,14.000000,4144.0,NaN,NaN,LA
18,LAES57341,NATCHITOCHES,LOUISIANA,2022-05-01,1707.98,14.000000,3416.0,NaN,NaN,LA
19,LAES57342,NATCHITOCHES,LOUISIANA,2022-05-01,1993.05,14.000000,3988.0,NaN,NaN,LA
20,LAES57343,NATCHITOCHES,LOUISIANA,2022-05-01,1835.46,14.000000,3672.0,NaN,NaN,LA
21,LAES57344,NATCHITOCHES,LOUISIANA,2022-05-01,2046.04,14.000000,4094.0,NaN,NaN,LA
22,LAES57345,NATCHITOCHES,LOUISIANA,2022-05-01,2034.40,57.000000,4070.0,NaN,NaN,LA
23,LAES57346,NATCHITOCHES,LOUISIANA,2022-05-01,1986.42,14.000000,3974.0,NaN,NaN,LA
24,LAES57347,NATCHITOCHES,LOUISIANA,2022-05-01,1829.57,14.000000,3660.0,NaN,NaN,LA
25,LAES57348,NATCHITOCHES,LOUISIANA,2022-05-01,1912.80,52.000000,3826.0,NaN,NaN,LA
26,LAES57349,NATCHITOCHES,LOUISIANA,2022-05-01,2013.80,52.000000,4028.0,NaN,NaN,LA
27,LAES57350,NATCHITOCHES,LOUISIANA,2022-05-01,1911.26,14.000000,3824.0,NaN,NaN,LA
28,LAES57351,NATCHITOCHES,LOUISIANA,2022-05-01,1846.31,14.000000,3694.0,NaN,NaN,LA
29,LAES57352,NATCHITOCHES,LOUISIANA,2022-05-01,2007.17,14.000000,4016.0,NaN,NaN,LA
...,...,...,...,...,...,...,...,...,...,...
36,LAES57904,WEBSTER PARISH,LOUISIANA,2024-05-01,1304.98,4.000000,2610.0,NaN,NaN,LA
37,LAES57906,WEBSTER PARISH,LOUISIANA,2024-05-01,1740.00,4.000000,3480.0,10876.0,NaN,LA
38,MSES59540,AMITE,MISSISSIPPI,2030-05-01,59.94,22.000000,90.0,90.0,NaN,MS
39,MSES57372,FRANKLIN,MISSISSIPPI,2022-05-01,1479.50,152.000000,2960.0,NaN,NaN,MS
40,MSES57386,FRANKLIN,MISSISSIPPI,2022-05-01,337.31,4.000000,676.0,NaN,NaN,MS
41,MSES57371,FRANKLIN,MISSISSIPPI,2022-05-01,1084.79,4.000000,2170.0,NaN,NaN,MS
42,MSES57368,FRANKLIN,MISSISSIPPI,2022-05-01,1478.63,6.000000,2958.0,NaN,NaN,MS
43,MSES57369,FRANKLIN,MISSISSIPPI,2022-05-01,1884.59,18.000000,3770.0,NaN,NaN,MS
44,MSES57370,FRANKLIN,MISSISSIPPI,2022-05-01,1829.75,18.000000,3660.0,NaN,NaN,MS
45,MSES57373,FRANKLIN,MISSISSIPPI,2022-05-01,80.00,628.000000,160.0,NaN,NaN,MS
46,MSES57385,FRANKLIN,MISSISSIPPI,2022-05-01,156.52,4.000000,314.0,NaN,NaN,MS
47,MSES59541,FRANKLIN,MISSISSIPPI,2030-05-01,35.15,282.000000,54.0,16722.0,NaN,MS
48,MSES57357,SCOTT,MISSISSIPPI,2022-05-01,482.28,67.000000,966.0,NaN,NaN,MS
49,MSES57358,SCOTT,MISSISSIPPI,2022-05-01,151.75,117.000000,304.0,1270.0,NaN,MS
50,MSES57356,SMITH,MISSISSIPPI,2022-05-01,40.00,7.000000,80.0,NaN,NaN,MS
51,MSES59539,SMITH,MISSISSIPPI,2030-05-01,226.85,7.000000,340.5,420.5,NaN,MS
52,MSES57359,WAYNE,MISSISSIPPI,2022-05-01,1998.92,10.000000,3998.0,NaN,NaN,MS
53,MSES57360,WAYNE,MISSISSIPPI,2022-05-01,39.81,7.000000,80.0,NaN,NaN,MS
54,MSES57361,WAYNE,MISSISSIPPI,2022-05-01,2107.78,4.000000,4216.0,NaN,NaN,MS
55,MSES57362,WAYNE,MISSISSIPPI,2022-05-01,1925.70,10.000000,3852.0,NaN,NaN,MS
56,MSES57363,WAYNE,MISSISSIPPI,2022-05-01,1833.65,4.000000,3668.0,NaN,NaN,MS
57,MSES57364,WAYNE,MISSISSIPPI,2022-05-01,1803.88,30.000000,3608.0,NaN,NaN,MS
58,MSES57365,WAYNE,MISSISSIPPI,2022-05-01,200.31,4.000000,402.0,NaN,NaN,MS
59,MSES57366,WAYNE,MISSISSIPPI,2022-05-01,1669.63,16.000000,3340.0,23164.0,NaN,MS
60,NMNM140301,CHAVES,NEW MEXICO,2030-05-01,161.28,5.000000,243.0,NaN,NaN,NM
61,NMNM140302,CHAVES,NEW MEXICO,2030-05-01,160.00,5.000000,240.0,483.0,NaN,NM
62,NVN95160,EUREKA,NEVADA,2027-05-01,1378.53,4.000000,2068.5,NaN,NaN,NV
63,NVN95161,EUREKA,NEVADA,2027-05-01,1443.39,4.000000,2166.0,4234.5,NaN,NV
64,OHES059251,MONROE,OHIO,2028-05-01,39.65,8.000000,60.0,NaN,NaN,OH
65,OHES059252,NOBLE,OHIO,2028-05-01,305.84,5.000000,459.0,519.0,NaN,OH

In [41]:
#Creating Column with DI Counties Format Name
RentalList["DI Counties"] = RentalList["COUNTY"] + " (" + RentalList["St. Initials"] + ")"

In [42]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,PER ACRE,RENTAL,COUNTY.1,Y/N,St. Initials,DI Counties
0,ALES57286,COVINGTON,ALABAMA,2022-05-01,320.00,4.000000,640.0,NaN,NaN,AL,COVINGTON (AL)
1,ALES57297,COVINGTON,ALABAMA,2022-05-01,1807.54,26.000000,3616.0,NaN,NaN,AL,COVINGTON (AL)
2,ALES57298,COVINGTON,ALABAMA,2022-05-01,1805.85,24.000000,3612.0,NaN,NaN,AL,COVINGTON (AL)
3,ALES57299,COVINGTON,ALABAMA,2022-05-01,1678.20,4.000000,3358.0,NaN,NaN,AL,COVINGTON (AL)
4,ALES57302,COVINGTON,ALABAMA,2022-05-01,90.54,5.000000,182.0,11408.0,NaN,AL,COVINGTON (AL)
5,ALES57285,ESCAMBIA,ALABAMA,2022-05-01,1664.60,54.000000,3330.0,NaN,NaN,AL,ESCAMBIA (AL)
6,ALES57301,ESCAMBIA,ALABAMA,2022-05-01,80.00,68.000000,160.0,NaN,NaN,AL,ESCAMBIA (AL)
7,ALES57887,ESCAMBIA,ALABAMA,2024-05-01,80.00,4003.000000,160.0,3650.0,NaN,AL,ESCAMBIA (AL)
8,ARES57890,VAN BUREN,ARKANSAS,2024-05-01,145.00,12.000000,290.0,NaN,NaN,AR,VAN BUREN (AR)
9,ARES57893,VAN BUREN,ARKANSAS,2024-05-01,170.00,7.000000,340.0,NaN,NaN,AR,VAN BUREN (AR)
10,ARES57894,VAN BUREN,ARKANSAS,2024-05-01,200.00,12.000000,400.0,NaN,NaN,AR,VAN BUREN (AR)
11,ARES57895,VAN BUREN,ARKANSAS,2024-05-01,145.00,5.000000,290.0,1320.0,NaN,AR,VAN BUREN (AR)
12,LAES57898,CADDO,LOUISIANA,2024-05-01,409.22,16.919315,820.0,820.0,NaN,LA,CADDO (LA)
13,LAES57336,NATCHITOCHES,LOUISIANA,2022-05-01,2274.10,14.000000,4550.0,NaN,NaN,LA,NATCHITOCHES (LA)
14,LAES57337,NATCHITOCHES,LOUISIANA,2022-05-01,1296.61,22.000000,2594.0,NaN,NaN,LA,NATCHITOCHES (LA)
15,LAES57338,NATCHITOCHES,LOUISIANA,2022-05-01,2147.51,14.000000,4296.0,NaN,NaN,LA,NATCHITOCHES (LA)
16,LAES57339,NATCHITOCHES,LOUISIANA,2022-05-01,37.15,18.000000,76.0,NaN,NaN,LA,NATCHITOCHES (LA)
17,LAES57340,NATCHITOCHES,LOUISIANA,2022-05-01,2071.26,14.000000,4144.0,NaN,NaN,LA,NATCHITOCHES (LA)
18,LAES57341,NATCHITOCHES,LOUISIANA,2022-05-01,1707.98,14.000000,3416.0,NaN,NaN,LA,NATCHITOCHES (LA)
19,LAES57342,NATCHITOCHES,LOUISIANA,2022-05-01,1993.05,14.000000,3988.0,NaN,NaN,LA,NATCHITOCHES (LA)
20,LAES57343,NATCHITOCHES,LOUISIANA,2022-05-01,1835.46,14.000000,3672.0,NaN,NaN,LA,NATCHITOCHES (LA)
21,LAES57344,NATCHITOCHES,LOUISIANA,2022-05-01,2046.04,14.000000,4094.0,NaN,NaN,LA,NATCHITOCHES (LA)
22,LAES57345,NATCHITOCHES,LOUISIANA,2022-05-01,2034.40,57.000000,4070.0,NaN,NaN,LA,NATCHITOCHES (LA)
23,LAES57346,NATCHITOCHES,LOUISIANA,2022-05-01,1986.42,14.000000,3974.0,NaN,NaN,LA,NATCHITOCHES (LA)
24,LAES57347,NATCHITOCHES,LOUISIANA,2022-05-01,1829.57,14.000000,3660.0,NaN,NaN,LA,NATCHITOCHES (LA)
25,LAES57348,NATCHITOCHES,LOUISIANA,2022-05-01,1912.80,52.000000,3826.0,NaN,NaN,LA,NATCHITOCHES (LA)
26,LAES57349,NATCHITOCHES,LOUISIANA,2022-05-01,2013.80,52.000000,4028.0,NaN,NaN,LA,NATCHITOCHES (LA)
27,LAES57350,NATCHITOCHES,LOUISIANA,2022-05-01,1911.26,14.000000,3824.0,NaN,NaN,LA,NATCHITOCHES (LA)
28,LAES57351,NATCHITOCHES,LOUISIANA,2022-05-01,1846.31,14.000000,3694.0,NaN,NaN,LA,NATCHITOCHES (LA)
29,LAES57352,NATCHITOCHES,LOUISIANA,2022-05-01,2007.17,14.000000,4016.0,NaN,NaN,LA,NATCHITOCHES (LA)
...,...,...,...,...,...,...,...,...,...,...,...
36,LAES57904,WEBSTER PARISH,LOUISIANA,2024-05-01,1304.98,4.000000,2610.0,NaN,NaN,LA,WEBSTER PARISH (LA)
37,LAES57906,WEBSTER PARISH,LOUISIANA,2024-05-01,1740.00,4.000000,3480.0,10876.0,NaN,LA,WEBSTER PARISH (LA)
38,MSES59540,AMITE,MISSISSIPPI,2030-05-01,59.94,22.000000,90.0,90.0,NaN,MS,AMITE (MS)
39,MSES57372,FRANKLIN,MISSISSIPPI,2022-05-01,1479.50,152.000000,2960.0,NaN,NaN,MS,FRANKLIN (MS)
40,MSES57386,FRANKLIN,MISSISSIPPI,2022-05-01,337.31,4.000000,676.0,NaN,NaN,MS,FRANKLIN (MS)
41,MSES57371,FRANKLIN,MISSISSIPPI,2022-05-01,1084.79,4.000000,2170.0,NaN,NaN,MS,FRANKLIN (MS)
42,MSES57368,FRANKLIN,MISSISSIPPI,2022-05-01,1478.63,6.000000,2958.0,NaN,NaN,MS,FRANKLIN (MS)
43,MSES57369,FRANKLIN,MISSISSIPPI,2022-05-01,1884.59,18.000000,3770.0,NaN,NaN,MS,FRANKLIN (MS)
44,MSES57370,FRANKLIN,MISSISSIPPI,2022-05-01,1829.75,18.000000,3660.0,NaN,NaN,MS,FRANKLIN (MS)
45,MSES57373,FRANKLIN,MISSISSIPPI,2022-05-01,80.00,628.000000,160.0,NaN,NaN,MS,FRANKLIN (MS)
46,MSES57385,FRANKLIN,MISSISSIPPI,2022-05-01,156.52,4.000000,314.0,NaN,NaN,MS,FRANKLIN (MS)
47,MSES59541,FRANKLIN,MISSISSIPPI,2030-05-01,35.15,282.000000,54.0,16722.0,NaN,MS,FRANKLIN (MS)
48,MSES57357,SCOTT,MISSISSIPPI,2022-05-01,482.28,67.000000,966.0,NaN,NaN,MS,SCOTT (MS)
49,MSES57358,SCOTT,MISSISSIPPI,2022-05-01,151.75,117.000000,304.0,1270.0,NaN,MS,SCOTT (MS)
50,MSES57356,SMITH,MISSISSIPPI,2022-05-01,40.00,7.000000,80.0,NaN,NaN,MS,SMITH (MS)
51,MSES59539,SMITH,MISSISSIPPI,2030-05-01,226.85,7.000000,340.5,420.5,NaN,MS,SMITH (MS)
52,MSES57359,WAYNE,MISSISSIPPI,2022-05-01,1998.92,10.000000,3998.0,NaN,NaN,MS,WAYNE (MS)
53,MSES57360,WAYNE,MISSISSIPPI,2022-05-01,39.81,7.000000,80.0,NaN,NaN,MS,WAYNE (MS)
54,MSES57361,WAYNE,MISSISSIPPI,2022-05-01,2107.78,4.000000,4216.0,NaN,NaN,MS,WAYNE (MS)
55,MSES57362,WAYNE,MISSISSIPPI,2022-05-01,1925.70,10.000000,3852.0,NaN,NaN,MS,WAYNE (MS)
56,MSES57363,WAYNE,MISSISSIPPI,2022-05-01,1833.65,4.000000,3668.0,NaN,NaN,MS,WAYNE (MS)
57,MSES57364,WAYNE,MISSISSIPPI,2022-05-01,1803.88,30.000000,3608.0,NaN,NaN,MS,WAYNE (MS)
58,MSES57365,WAYNE,MISSISSIPPI,2022-05-01,200.31,4.000000,402.0,NaN,NaN,MS,WAYNE (MS)
59,MSES57366,WAYNE,MISSISSIPPI,2022-05-01,1669.63,16.000000,3340.0,23164.0,NaN,MS,WAYNE (MS)
60,NMNM140301,CHAVES,NEW MEXICO,2030-05-01,161.28,5.000000,243.0,NaN,NaN,NM,CHAVES (NM)
61,NMNM140302,CHAVES,NEW MEXICO,2030-05-01,160.00,5.000000,240.0,483.0,NaN,NM,CHAVES (NM)
62,NVN95160,EUREKA,NEVADA,2027-05-01,1378.53,4.000000,2068.5,NaN,NaN,NV,EUREKA (NV)
63,NVN95161,EUREKA,NEVADA,2027-05-01,1443.39,4.000000,2166.0,4234.5,NaN,NV,EUREKA (NV)
64,OHES059251,MONROE,OHIO,2028-05-01,39.65,8.000000,60.0,NaN,NaN,OH,MONROE (OH)
65,OHES059252,NOBLE,OHIO,2028-05-01,305.84,5.000000,459.0,519.0,NaN,OH,NOBLE (OH)

In [43]:
#output for DI counties - copy and paste into DI
for i in RentalList["DI Counties"].drop_duplicates():
    print(i)

COVINGTON (AL)
ESCAMBIA (AL)
VAN BUREN (AR)
CADDO  (LA)
NATCHITOCHES  (LA)
SABINE PARISH (LA)
WEBSTER PARISH (LA)
AMITE (MS)
FRANKLIN (MS)
SCOTT (MS)
SMITH (MS)
WAYNE (MS)
CHAVES (NM)
EUREKA (NV)
MONROE (OH)
NOBLE (OH)

# Stat Summaries

In [44]:
RentalList.groupby(RentalList["EXPIRATION"].apply(lambda x: x.year)).sum()

               ACRES     PER ACRE    RENTAL  COUNTY.1  Y/N
EXPIRATION
2022        65011.49  1704.000000  130062.0  109824.0  0.0
2024         6589.94  4152.931662   13182.0   16672.0  0.0
2027         2821.92     8.000000    4234.5    4234.5  0.0
2028          345.49    13.000000     519.0     519.0  0.0
2030          643.22   321.000000     967.5   17715.5  0.0

In [5]:
shapefile.head()

,lot_no,LEASE_NO,EFFECTIVE,COUNTY,ST,Ownership,GeneralLoc,Due_Year,Acres,COMMENTS,Est_Bonus,Exp_date,Comments_1,Shape_Leng,Shape_Area,geometry
0,72266,WY-2020-12-0588,None,Niobrara,WY,R&R Royalty,None,0.0,840.00,Lease yet to be issued,0,None,Lease yet to be issued,11018.376216,6.377650e+06,"POLYGON Z ((-11639970.496 5340973.580 0.000, -..."
1,72267,WY-2020-12-0592,None,Niobrara,WY,R&R Royalty,None,0.0,1280.00,Lease yet to be issued,0,None,Lease yet to be issued,13275.331252,9.790726e+06,"POLYGON Z ((-11635543.812 5338747.382 0.000, -..."
2,72268,WY-2020-12-0595,None,Niobrara,WY,R&R Royalty,None,0.0,960.00,Lease yet to be issued,0,None,Lease yet to be issued,11051.594313,7.316665e+06,"POLYGON Z ((-11633336.189 5338743.869 0.000, -..."
3,72262,WY-2020-12-0579,None,Niobrara,WY,R&R Royalty,None,0.0,641.81,Lease yet to be issued,0,None,Lease yet to be issued,8834.223784,4.875540e+06,"POLYGON Z ((-11637213.500 5343726.602 0.000, -..."
4,72312,WY-2020-12-0432,None,Converse,WY,R&R Royalty,None,0.0,307.80,Lease yet to be issued,0,None,Lease yet to be issued,6584.338297,2.371568e+06,"POLYGON Z ((-11723601.654 5349650.980 0.000, -..."

In [12]:
activeAcreageShape = shapefile.loc[shapefile['Exp_date']>'2021-04-1']

In [15]:
shapefile.info()
activeAcreageShape.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1876 entries, 0 to 1875
Data columns (total 16 columns):
lot_no        1876 non-null int64
LEASE_NO      1876 non-null object
EFFECTIVE     1810 non-null object
COUNTY        1876 non-null object
ST            1873 non-null object
Ownership     1505 non-null object
GeneralLoc    167 non-null object
Due_Year      1876 non-null float64
Acres         1876 non-null float64
COMMENTS      658 non-null object
Est_Bonus     1876 non-null int64
Exp_date      1833 non-null object
Comments_1    664 non-null object
Shape_Leng    1876 non-null float64
Shape_Area    1876 non-null float64
geometry      1876 non-null geometry
dtypes: float64(4), geometry(1), int64(2), object(9)
memory usage: 234.6+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1077 entries, 38 to 1861
Data columns (total 16 columns):
lot_no        1077 non-null int64
LEASE_NO      1077 non-null object
EFFECTIVE     1054 non-null object
COUNTY        1077 non-null object
ST            1077 non-null object
Ownership     1076 non-null object
GeneralLoc    126 non-null object
Due_Year      1077 non-null float64
Acres         1077 non-null float64
COMMENTS      285 non-null object
Est_Bonus     1077 non-null int64
Exp_date      1077 non-null object
Comments_1    290 non-null object
Shape_Leng    1077 non-null float64
Shape_Area    1077 non-null float64
geometry      1077 non-null geometry
dtypes: float64(4), geometry(1), int64(2), object(9)
memory usage: 143.0+ KB

In [16]:
activeAcreageShape.to_file("ActiveAcreage.shp")